<h3>{{headerTitle}}</h3>

<form [formGroup]="postForm" (ngSubmit)="onSubmitPost()">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput id="titleInput" placeholder="Title" formControlName="title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Text</mat-label>
    <textarea matInput id="textInput" placeholder="Write your post" formControlName="text"></textarea>
  </mat-form-field>

  <button mat-raised-button id="savePost" color="primary">Save</button>
</form>