Is Christian happy? {{isHappy}}
{{birthday | date:'dd/MM/yyyy'}}

<button mat-raised-button color="primary" (click)="setHappy(true)">
    Happy
</button>

<button mat-raised-button color="primary" (click)="setHappy(false)">
    Not happy anymore
</button>

<div class="flexHeader">
    <h3>Posts</h3>   
    <button mat-raised-button color="primary" routerLink="/neweditpost" id="newPostBtn">New Post</button>
</div>

<div class="flexGrid"> 
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="search" placeholder="Search a post" />
    </mat-form-field>
    <mat-card class="example-card" *ngFor="let mypost of posts | filterPosts: search"> 
       <app-post [post]="mypost" (postClicked)="editPost($event)"></app-post>
    </mat-card>
</div>



