
.example-card {
  width: 300px;
  margin: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.flexGrid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.flexHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}