
<mat-selection-list [multiple]="false">
    <mat-list-option routerLink="posts" routerLinkActive="active" class="e2e-posts">
        <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Posts
        </div>
    </mat-list-option>

    <mat-list-option routerLink="events" routerLinkActive="active">
        <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Events
        </div>
    </mat-list-option>

    <mat-list-option routerLink="chats" routerLinkActive="active">
        <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Chats
        </div>
    </mat-list-option>


    <mat-list-option routerLink="signup" routerLinkActive="active">
        <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Signup
        </div>
    </mat-list-option>


    <mat-list-option routerLink="login" routerLinkActive="active">
        <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Login
        </div>
    </mat-list-option>
</mat-selection-list>